<div class="text-white d-flex justify-content-center align-items-center py-5 position-relative">
  <div class="card bg-white bg-opacity-10 py-3">
    <div class="card-title mb-0 px-2">
      <ul class="d-flex justify-content-center align-items-center list-unstyled">
        <li [class.list-item-active]="type === 'pomodoro'"  class="list-item hand pt-0 pb-2 pt-md-2 pb-md-2" (click)="setType('pomodoro', false)">Pomodoro</li>
        <li [class.list-item-active]="type === 'short'"  class="list-item hand pt-0 pb-2 pt-md-2 pb-md-2 mx-2" (click)="setType('short', false)">Short Break</li>
        <li [class.list-item-active]="type === 'long'"  class="list-item hand pt-0 pb-2 pt-md-2 pb-md-2" (click)="setType('long', false)">Long Break</li>
      </ul>
    </div>
    <div class="card-body d-flex justify-content-center align-items-center flex-column">
      <span style="font-size: 5rem !important"> {{ getMinutes() }}<span [class.beating]="isActive">:</span>{{ getSeconds() }}</span>
      <span class="text-white-50">#{{ count }}</span>
      <span class="text-white">{{ message }}</span>
    </div>
    <div class="card-footer d-flex justify-content-center align-items-center pt-3 position-relative">
      <button class="btn btn-light fs-3 px-3 pt-0 pb-2 pt-md-2 pb-md-1"
              [class.text-pomodoro]="type === 'pomodoro'"
              [class.text-short]="type === 'short'"
              [class.text-long]="type === 'long'"
              [class.start]="!isActive"
              (click)="toggleStartStop(isActive)">{{isActive ? 'PAUSE' : 'START'}}</button>
      <button class="btn text-white position-absolute end-0" *ngIf="isActive" (click)="goForward()"> <i class="fa fa-forward-step fs-2"></i></button>
    </div>
  </div>
</div>

