<div class="footer text-white d-flex flex-column justify-content-center align-items-center fs-5">
  <span>Designed by <small>Mirix</small></span>
  <ul class="list-unstyled d-flex">
    <li class="p-2"><a href="https://github.com/M1rix" target="_blank"><i class="fa-brands fa-github"></i></a></li>
    <li class="p-2"><a href="https://instagram.com/m_irix" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
    <li class="p-2"><a href="https://t.me/m_irix" target="_blank"><i class="fa-brands fa-telegram"></i></a></li>
  </ul>
</div>
