@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Concert One', ArialRounded, -apple-system, monospace !important;
  font-weight: 300;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  overflow: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}

app-root {
  max-width: 1278px;
}

.hand {
  cursor: pointer !important;
}

button,
input,
textarea {
  font-family: 'Concert One', ArialRounded, -apple-system, monospace !important;
  transition: all 300ms ease-in-out !important;
}

.list-item {
  background-color: transparent;
  color: #fff;
  border-radius: 10px !important;
  padding: 10px 14px;
}
.list-item-active {
  background-color: rgba(255, 255, 255, .15) !important;
}

.scale{
  scale: 1.3;
}

a {
  text-decoration: none !important;
  color: white !important;
}

.transition-300 {
  transition: all 300ms ease-in-out !important;
}

@media only screen and (max-width: 480px) {
 .scale {
   scale: 1;
 }
}


.bg-pomodoro {
  background-color: rgba(186, 73, 73);
}

.bg-short {
  background-color: rgba(56, 133, 138);
}

.bg-long {
  background-color: rgba(57, 112, 151);
}

.text-pomodoro {
  color: rgb(186, 73, 73) !important;
}

.text-short {
  color: rgb(56, 133, 138) !important;
}

.text-long {
  color: rgb(57, 112, 151) !important;
}

.start-25 {
  left: 25% !important;
}


//navbar
.settings{
  position: relative;
}

.settings:after{
  position: absolute;
  content: '';
  width: 20.5px;
  height: 10px;
  right: -1px;
  top: 10px;
  border-block: 1px solid #fff;
  backdrop-filter: blur(10px);
  z-index: 12;
}

.settings-dropdown{
  z-index: 10;
  background-color: transparent;
  list-style: none;
  position: absolute;
  right: 120.5px;
  top: 13px;
  padding-left: 0;
  border: 1px solid #fff;
  border-radius: 10px;
  backdrop-filter: blur(1000px);
  li{
    &:first-child{
        border-top: 0 !important;
    }
    border-top: 1px solid #fff;
    border-radius: 10px;
    padding: 1rem;
    &:hover {
      cursor: pointer;
      padding-bottom: 30px;
      border-radius: 10px;
      background-color: rgba(255,255,255,.06);
    }
  }
}
